### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws
out/

### Logs ###
*.log
logs/
*.out

### OS Files ###
.DS_Store
Thumbs.db

### Spring ###
# 환경별 설정 파일(민감정보는 커밋 금지)
application-*.yml
application-*.properties
.env

### Docker ###
/docker-data/
/*.pid

### Others ###
*.class
*.war
*.jar
*.tmp
*.swp